.homecontainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 10px;
}

.hometitle{
    width: 100%;
    max-width: 1024px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 600px){
    .hometitle{
        font-size: 16px;
    }
}