.navbar {
  height: 60px;
  background: linear-gradient(90deg, #0077ff, #00c6ff);
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  width: 100%;
  max-width: 1100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  color: #e0f7ff;
}

.navItems {
  display: flex;
  align-items: center;
}

.navButton {
  margin-left: 15px;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  color: #0077ff;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.navButton:hover {
  background-color: #e0f7ff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 119, 255, 0.3);
}

.navButton:active {
  transform: scale(0.97);
  box-shadow: 0 2px 6px rgba(0, 119, 255, 0.2);
}
/* Dodano novo s fixom nakon backenda */
.custom-google-login {
  display: flex;
  align-items: center;
  transform: translateY(-7px); 
}


.custom-google-login iframe {
  margin: 0 !important;
  border-radius: 4px !important; 
}


.navItems {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navButton {
  padding: 8px 16px;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.navButton:hover {
  background-color: #005a9e;
}


